<% layout('/boilerplate/boilerPlate') -%>
    <form style="width: 60vw; margin: 2rem auto; border: 1px solid rgba(0, 0, 0, 0.231); padding: 1rem; border-radius: 1rem;" action="/products/<%= product._id %>/edit?_method=PUT" method="post" >
        <div class="mb-3">
            <label for="prod-name" class="form-label">Product Name:</label>
            <input name="name" type="text" class="form-control" id="prod-name" placeholder="Enter Product Name" value="<%= product.name %>">
        </div>
        <div class="mb-3">
            <label for="prod-imageLink" class="form-label">Image Link:</label>
            <input name="imageLink" type="text" class="form-control" id="prod-imageLink" placeholder="Provide Image Link Here" value="<%= product.imageLink %>">
        </div>
        <div class="mb-3">
            <label for="prod-price" class="form-label">Price:</label>
            <input name="price" type="number" class="form-control" id="prod-price" placeholder="Enter Price" min="0" value="<%= product.price %>">
        </div>
        <div class="mb-3" style="display: flex; flex-direction: column;">
            <label for="prod-description" class="form-label">Product Description:</label>
            <textarea name="description" id="prod-description" cols="30" rows="10"><%= product.description %></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>